<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ConnStr1" value="data source=KIRANKUMARRAMA\SQLEXPRESS; user id=sa; password=sa123;initial catalog=Nirvanadb"/>
    <add key="ConnStr" value="data source=PROJECTPARAS1\SQLEXPRESS; user id=nirvanadbuser; password=P@ssw0rd123;initial catalog=Nirvanaspadb"/>
    <add key="OwnerMobile" value="8008423653"/>
    <add key="Appointmentsms" value="Hi, This is to confirm your appointment on (Date), at (Time). Please ensure you are on time for the service. Best wishes, Nirvana Spa and Salon."/>
    <add key="Adminsms" value="A Service Order appointment was booked on (Date) at (Time)"/>
    <add key="Senderid" value="DEIFYS"/>
    <add key="Scheduletime" value="6"/>
  </appSettings>
  
</configuration>
